body {
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
}

.common-text-color {
    color: #534c64;
}

/* header area  */
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.site-logo>img {
    width: 253px;
    height: 53px;
}

.site-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.menu-text-color {
    color: #3e3751;
    text-decoration: none;
}

.site-menu>a,
div {
    padding-right: 20px;
}

.top-social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7e6e9;
    border-radius: 5px;
    padding: 0px 20px;
}

.fa-youtube {
    color: #f61c0d;
    padding-left: 20px;
    font-size: 25px;
}

.fa-tiktok {
    background: linear-gradient(45deg, #EE1D52, #000000);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-left: 20px;
    font-size: 25px;
}

/* game promotion area  */
.promotion-area {
    background-color: #fbf6fd;
}

.promotion-body {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.promotion-text {
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.promotion-text>h1 {
    font-size: 48px;
    line-height: 0px;
}

.promotion-text>h2 {
    font-size: 100px;
    line-height: 75px;
    background: -webkit-linear-gradient(#db4cc3, #a354e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.promotion-text>p {
    font-size: 18px;
    font-weight: bold;
    color: #534c64;
}

.button-area {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.signin-btn {
    background-color: #ff42a5;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 35px;
    border: none;
    border-radius: 25px;
}

.gorouge-btn {
    background-color: #4ec5f7;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 35px;
    border: none;
    border-radius: 25px;
}

.promotion-image>img {
    height: auto;
    margin-bottom: -7px;
}

/* games area css  */
.games-example-heading {
    text-align: center;
    font-size: 48px;
}

.games-example-sub-heading {
    font-size: 20px;
    text-align: center;
}

.games-heading-gradiant {
    background: -webkit-linear-gradient(#db4cc3, #a354e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games-card {
    padding-top: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.card-image {
    width: 100%;
}

.card-content {
    position: relative;
    height: 400px;
    width: 342px;
}

.overlay {
    background-color: #ff42a436;
    height: 373px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0;
    border: 2px solid #ff42a5;
    border-radius: 15px;
}

.card-content:hover .overlay {
    opacity: 1;
}

.overlay-elements {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    margin-left: 28%;
    margin-top: 50%;
    align-items: center
}
.fa-play-circle{
    color: #ffffff;
    font-size: 30px;
}
.overlay-elements{
    color: #ffffff;
    font-weight: 600;
}
/* mobile devices  */
@media screen and (max-width: 576px) {

    .header-menu {
        flex-direction: column;
    }

    .site-menu {
        flex-direction: column;

    }

    .site-menu>a,
    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .promotion-body {
        flex-direction: column;
    }

    .promotion-image>img {
        height: auto;
        width: 100%;
    }

    .promotion-text {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .promotion-text>h1 {
        font-size: 20px;
        line-height: 20px;
    }

    .promotion-text>h2 {
        font-size: 36px;
        line-height: 30px;
        background: -webkit-linear-gradient(#db4cc3, #a354e1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .promotion-text>p {
        font-size: 16px;
        font-weight: bold;
        color: #534c64;
    }

    .button-area {
        width: 100%;
        justify-content: space-evenly;
    }

    .signin-btn {
        font-size: 16px;
        padding: 10px 15px;
    }

    .gorouge-btn {
        font-size: 16px;
        padding: 10px 15px;
    }
}


/* tablet devices  */
@media screen and (min-width:576px) and (max-width: 960px) {

    .promotion-body {
        flex-direction: column;
    }

    .promotion-image>img {
        height: auto;
        width: 100%;
    }

    .promotion-text {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .promotion-text>h1 {
        font-size: 30px;
        line-height: 20px;
    }

    .promotion-text>h2 {
        font-size: 60px;
        line-height: 50px;
        background: -webkit-linear-gradient(#db4cc3, #a354e1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .promotion-text>p {
        font-size: 20px;
        font-weight: bold;
        color: #534c64;
    }



    .signin-btn {
        font-size: 20px;
        padding: 15px 25px;
    }

    .gorouge-btn {
        font-size: 20px;
        padding: 15px 25px;
    }
}